<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {{>headerLinks}}
    <title>Weather app/about</title>
</head>

<body>
    {{>navbar}}
    <div class="cont_el">
        <div class="img-el" style="box-shadow: 0.7em 0.7em 3em rgba(0, 0, 0, 0.685);">
            <img src="./assets/images/SAVE_20191201_215726.jpg" alt="">
        </div>
        <div class="desc">
            <h3 class="headi">
                I am a <span class="wthr">MERN stack</span> web developer
            </h3>
            <a href="https://github.com/IotA-asce" target="_blank">
                <button id="learn-more" >github profile</button>
            </a>
            <a href="/weather">
                <button id="learn-more" >Weather info</button>
            </a>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>